@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&display=swap");

.edu__nsw__font {
  font-family: "Edu SA Beginner", cursive;
  font-weight: bold;
}

/* Navbar styles*/
.one-m {
  background-color: rgba(255, 255, 255);
  /* max-width: 350px; */
  /* min-width: 260px; */
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: -400px;
  visibility: hidden;
  z-index: 1010;
  transition: 0.3s ease-in-out;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.nav-show {
  visibility: visible;
  left: 0;
}

.pos-sticky {
  position: sticky;
  top: 0;
  transition-duration: 200ms;
}

/* w-10: Width of Logo list */
.w-10 {
  width: 10%;
}

.planA-w-1 {
  width: 80px;
}

.float-right {
  float: right;
}

#home__hero {
  background-image: url("images/Landing\ Page\ Picture.png"),
    url("images/Pattern.svg");
  min-height: 90vh;
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #8293bf15;
}

.about__bg {
  background-image: url("images/Karla's\ Book.png");
  min-height: 400px;
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}

.get-in-touch__bg {
  background-image: url("images/Doodle.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #8293bf15;
}

.dpb {
  background-color: #8293bf;
}

.dpb-light {
  background-color: #8293bf28;
}

.dpb-text {
  color: #8293bf8f;
}

.dpb-text-b {
  color: #8293bf;
}

.dpb-border {
  border-color: #8293bf;
}

.bg-outer-space {
  background-color: #383f4d;
}

.container {
  width: 90%;
}

.bg__input-text {
  background-color: rgb(231, 231, 231);
}

footer {
  background-color: #303646;
  background-image: url("/images/Doodle_Footer.svg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}

.flex-start {
  display: flex;
  justify-content: start;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-end {
  display: flex;
  justify-content: end;
}

.footer__line {
  width: 80%;
  /* float: right; */
  margin-left: auto;
  margin-right: 0;
}

.bars__show {
  display: none;
}

.pad-3 {
  padding-right: 3rem;
}

.md-hide {
  display: none;
}

.md-break {
  visibility: visible;
}

.md-break-1 {
  display: none;
}

.road-map__ul {
  list-style: none;
}

.road-map li::before {
  content: "\2022";
  color: #8293bf;
  font-weight: bold;
  display: inline-block;
  width: 0.9em;
  font-size: x-large;
  /* margin-left: -1em; */
}

@media (max-width: 768px) {
  #home__hero {
    min-height: 75vh;
    background-position: bottom;
  }

  .get-in-touch__bg {
    background-position: bottom;
  }

  .nav-hidden {
    display: none;
  }

  .bars__show {
    display: block;
  }

  .w-10 {
    width: 50%;
  }

  .flex-start-none {
    display: block;
  }

  .w-full {
    width: 100%;
  }

  .md-margin-3 {
    margin-bottom: 2.5rem;
  }

  .about__bg {
    background-position: center;
  }

  .pad-3 {
    padding: 0;
  }

  .md-d-none {
    display: none;
  }

  .md-hide {
    display: inline;
  }

  .md-break {
    display: none;
  }

  .md-break-1 {
    display: block;
  }

  .footer__line {
    width: 100%;
    margin: 0 auto;
  }
}
